:root {
  --accent-color: #2196F3;
  --dark-color: #212121;
  --white-color: #ffffff;
  --grey-color: #757575;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--white-color);
  font-family: "Roboto", sans-serif;
}


/*---COMPONENTS---*/
.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
  margin-bottom: 50px;
}
  .link {
    text-decoration: none;
  }
  .list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    
  }
  .current {
    color: var(--accent-color);
  }
  .city {
    color: var(--white-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
.h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .img-item {
    display: block;
    height: auto;
    max-width: 100%;
  }
  
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

/* =========== HEADER =========== */
.head-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  margin-right: 93px;
}
.nav, .header-container {
  display: flex;
  align-items: center;
}
.logo-black {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--dark-color);
}
.site-nav, .adress-list, .nav, .header-container {
  display: flex;
  align-items: center;
}

.nav-link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--dark-color);
margin-right: 50px;

display: block;
padding-top: 32px;
padding-bottom: 32px;
}

.nav-item:not(:nth-last-child) {
  margin-right: 50px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.adress-link {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--grey-color);
margin-right: 50px;
}
.adress-link:hover,
.adress-link:focus {
color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}
.adress-list {
  margin-left: auto;
}
.page-header {
  border-bottom: 1px solid #ececec;
}

/*---HERO---*/
.section-hero {
  background-color: #2f303a;
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.title-wrap {
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  min-height: 200px;
}
.headline {
margin-top: 0;
margin-bottom: 30px; 
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--white-color);
}

.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
  cursor: pointer;
  margin: auto; 
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 4px;
  border: 0; 
}

.btn:hover,
.btn:focus {
  color: var(--white-color);
}

.title-wrap {
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
}

/*---ADVANTAGES---*/
.section-advantages {
  padding-top: 94px;
  padding-bottom: 47px;
}
.advantage-item {
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.advantage-list {
  display: flex;
  margin-left: -30px;
}
.advantage-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
  display: block;
  margin-bottom: 10px;
}
.advantages-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
.advantages-list {
   display: flex;
   color: black        ;
  }

  /*--GALLERY--*/
.section-gallery {
    margin-top: 47px;
    margin-bottom: 94px;
  }

.img-list-gallery {
  display: flex;
  margin-left: -30px;
}
.img-item-gallery {
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

/*--TEAM--*/
.section-team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.team-item {
  background-color: var(--background-color);
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}
.team-sub {
  padding-left: auto;
  padding-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark-color);
}
.team-position {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--grey-color);
  margin-top: 10px;
}


/* =========== FOOTER =========== */
.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.foot-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--accent-color);
  display: inline-block;
  margin-bottom: 20px;
}
.logo-white {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
/*--CONTACTS--*/
.contact-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  }
  .contact-link:hover,
  .contact-link:focus {
  color: var(--accent-color);
  }
  .page-footer {
    background: #2F303A;
  }

  /*--PORTFOLIO--*/
  .title-portfolio {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--dark-color);
  }
  .filter-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    background: #f5f4fa;
    color: var(--dark-color);
  
    border-radius: 4px;
    cursor: pointer;
    border: 0px;
    padding: 6px 22px;
    display: inline-block;
  }
  .filter-button:hover,
  .filter-button:focus {
    color: var(--white-color);
    background: var(--accent-color);
  }
  .filter-list {
    display: flex;
    justify-content: center;
    margin-left: -6px;
    margin-bottom: 50px;
  }
  .filter-button-item {
    margin-left: 6px;
    display: inline-block;
    justify-content: center;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .portfolio-item {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 90px) / 3);
  }
  .portfolio-sub {
    background-color: var(--white-color);
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .text-portfolio {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--grey-color);
    margin-top: 4px;
  }